/* src/components/IntroPage/IntroPage.css */

.introPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    color: white; /* White text */
    background-color: black; /* Black background */
    padding: 20px;
    box-sizing: border-box;
  }
.content {
  max-width: 600px; /* Maximum width of the content */
  z-index: 2; /* Ensure the text is above the image */
}

.accent-green {
  color: #0F0; /* Bright green accent text */
}
.accent-red {
  color: #F00; /* Bright red accent text */
}


.profilePic {
  position: absolute;
  right: 0;
  top: 0;
  /* width: 33.33%; Image takes up right third of the screen */
  height: 100%;
  object-fit: cover; /* Cover the designated area without stretching */
  z-index: 1; /* Below the text content */
  filter: brightness(50%);
}