/* src/Navbar/Navbar.css */

.navbar {
    position: fixed; /* Fixed position to keep the navbar in place while scrolling */
    top: 50%; /* Center it vertically */
    left: 0;
    transform: translateY(-50%); /* Adjust vertical position to the center */
    width: 75px; /* Reduced width */
    background-color: rgb(15, 15, 15); /* Semi-transparent background */
    padding: 10px;
    box-sizing: border-box;
    border-radius: 0 5px 5px 0; /* Rounded corners on the right side */
    z-index: 1000; /* Ensure it's above other content */
    transition: width 0.3s ease-in-out; /* Smooth transition for hover effect */
    overflow: hidden;
  }

  .navbar li button, .navbar li[role="button"] {
    background: none;
    border: none;
    display: block;
    color: white; /* Use the color of your navbar */
    font: inherit; /* Use the font of your navbar */
    cursor: pointer;
    padding: 0;
    text-decoration: none; /* Removes underline from links */
    display: block; /* Each link fills the entire width of the navbar */
    margin: 10px 0; /* Spacing between links */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
  }
  
  .navbar li[role="button"] {
    display: inline-block; /* Or as needed to fit your design */
  }
  
  
  .navbar:hover {
    width: 200px; /* Expand the navbar on hover */
  }
  
  /* Style for navigation links */
  .navbar a {
    color: white;
    text-decoration: none; /* Removes underline from links */
    display: block; /* Each link fills the entire width of the navbar */
    margin: 10px 0; /* Spacing between links */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
  }
  
  .navbar a:hover {
    transform: translateX(10px); /* Shift links to the right on hover */
  }
  
  .navbar button:hover {
    transform: translateX(10px); /* Shift links to the right on hover */
  }