/* src/GridPage/GridPage.css */

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Make container fill the viewport height */
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 20px;
  width: 75vw; /* Adjust the width of the grid as per requirement */
}

.grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Equal to the item's width to maintain a square aspect ratio */
  overflow: hidden;
}

.grid-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: brightness(60%);
}

.grid-item:hover img {
  transform: translate(-50%, -50%) scale(1.1);
  filter: brightness(100%);
}
