.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Apply global styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Courier New', monospace; /* Example font */
  background-color: black; /* Background color */
  color: white; /* Text color */
} 

/* Style for sections that mimics a terminal screen */
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  color: white; /* White text */
  background-color: black; /* Black background */
  padding: 20px;
  box-sizing: border-box;
}

/* Style for the fixed navbar */
/* .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding: 20px;
} 
*/

/* Style for the main content next to the navbar */
.main-content {
  margin-left: 200px; /* Same as navbar width */
  padding: 20px;
  width: calc(100% - 200px); /* Adjust width based on navbar */
}

/* Accent text colors */
.accent-green {
  color: #0F0; /* Bright green accent text */
}

.accent-red {
  color: #F00; /* Bright red accent text */
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
