/* src/components/NameTag/NameTag.css */

.nameTag {
  display: inline-block; /* Keeps the element's width to the content width */
  text-decoration: none; /* Removes underline from link */
  position: fixed;
  top: 10px; /* Adjust the distance from the top */
  right: 30px; /* Adjust the distance from the right */
  font-size: 1.5em; /* Initial font size */
  color: #0F0; /* Initial color - change as needed */
  z-index: 1000; /* Make sure it's above other elements */
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth transition for transform and color */
}

.nameTag:hover {
  color: white; /* Color turns to white on hover */
  transform: scale(1.1); /* Text expands slightly on hover */
}
