/* src/components/NameTag/NameTag.css */

.nameTag {
  display: inline-block;
  text-decoration: none;
  position: fixed;
  top: 10px;
  right: 30px; 
  font-size: 1.5em;
  color: #0F0;
  z-index: 1000;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nameTag:hover {
  color: white;
  transform: scale(1.1);
}

/* just hide on portrait */
@media (max-width: 600px) {
  .nameTag {
    display: inline-block;
    text-decoration: none;
    position: fixed;
    top: 10px;
    right: 30px;
    font-size: 1.5em;
    color: #0F0;
    z-index: 0;
    opacity: 0;
    transition: transform 0.3s ease, color 0.3s ease;
  }
}