/* App.css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.menuIcon {
  position: fixed;
  z-index: 1999;
  top: 10px; /* Adjust the distance from the top */
  left: 30px; /* Adjust the distance from the right */
  display: inline-flex; /* or inline-block */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35px; /* Adjust based on desired size */
  height: 30px; /* Adjust based on desired size */
}

.bar {
  width: 25px; /* Confirm this is being applied */
  height: 3px; /* Confirm this is being applied */
  background-color: #fff; /* Confirm this is visible */
  margin: 4px 0; /* Adjust if necessary */
}

/* Adjust the appearance of the bars on hover if needed */
.menuIcon:hover .bar {
  background-color: #f00; /* Change color on hover */
}

/* Remaining Styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Courier New', monospace;
  background-color: black;
  color: white;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: black;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  margin-left: 200px;
  padding: 20px;
  width: calc(100% - 200px);
}

.accent-green {
  color: #0F0;
}

.accent-red {
  color: #F00;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
