/* src/index.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Courier New', monospace; /* Example font */
  background-color: black; /* Background color */
  color: white; /* Text color */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; 
  height: 100%;
  background-color: #fff; 
  padding: 50px;
}
